.labelLogin {
margin: 2px;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center

}
input {
    margin: 5px;
}
.button {
    width: 100px;
   align-self: center;
}