.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(210, 200, 200);
    border: black;
    display: flex;
    justify-content: space-between
}

.loginRegisterButton {
    margin: 2px;
    height: 45px;
}


.loginRegisterButton {
    transition-duration: 0.4s;
}

.loginRegisterButton:hover {
  background-color: rgb(145, 206, 224);
  color: white;
  cursor: pointer;
 
}

.titleHomePage {
    margin: 5px;
}

.titleHomePage:hover {
    cursor: pointer;
}
