@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  body {
    @apply bg-[#f5fdff];
  }
  h1 {
    @apply text-2xl
  font-bold;
  }
  button, [type="button"], [type="reset"], [type="submit"] {
    @apply bg-white
  border-black
  border-2
  rounded
  w-28
  self-center;
  }
  input {
    margin: 5px;
    width: 200px;
    @apply border-2
  border-black
  rounded
  outline-none;
  }
}

.navbar {
  @apply w-full
  h-12
  bg-brown-300
  border-black
  flex
  justify-between;
}

.navbar button {
  @apply bg-brown-50;
}

.loginRegisterButton {
  @apply m-1
  h-10
  hover:bg-[#a8e5f7]
  hover:text-brown-900
  hover:cursor-pointer;
  transition-duration: 0.4s;
}

.titleHomePage {
  margin: 5px;
}

.labelLogin {
  margin: 2px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
